SoftwareModel/
Simulation/*
!Simulation/waves
Synthesis/*
!Synthesis/clock.xdc
aux 
*.bit 
*.blg 
*.bbl 
*.lof 
*.log 
*.lot 
*.glo 
*.glx 
*.gxg
*.gxs 
*.idx
*.ilg 
*.ind 
*.out 
*.url 
*.svn 
*.toc
*.code-workspace
lut_template.py
generate_wave.py
Docs/*
!Docs/*.pdf